@use 'src/styles/mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
  margin-bottom: var(--space-3);
}

.floating {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  z-index: 1;
}
