.id {
  position: absolute;
  top: var(--space-3);
  right: var(--space-4);
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-3);
}

.image {
  object-fit: contain;
}

.name {
  text-transform: capitalize;
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}
