@use 'src/styles/mixins' as *;

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background);

  &.noFilters {
    grid-template-rows: auto 1fr;
  }
}

.filters {
  padding: var(--space-3) var(--space-7);
  background: var(--muted);
  border-bottom: 3px solid var(--border);

  @include mq(sm) {
    padding: var(--space-3) var(--space-4);
  }
}
